<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <!-- Check the registry key: HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Power\User\PowerSchemes -->
    <!-- See what values show up in "ActiveOverlayAcPowerScheme" when the power slider is set to different positions. -->
    <add key="BetterBatteryGuid" value="961cc777-2547-4f9d-8174-7d86181b8a7a" />
    <add key="BetterPerformanceGuid" value="3af9B8d9-7c97-431d-ad78-34a8bfea439f" />
    <add key="BestPerformanceGuid" value="ded574b5-45a0-4f42-8737-46345c09c238" />
  </appSettings>
</configuration>
